.sample
{
    
    position: relative;
    top: 0;
    left: 0;
    border: 1px red solid;
    height: 600px;
  }
  .sample
{
    
    position: relative;
    top: 0;
    left: 0;
    border: 1px red solid;
    height: 600px;
  }
  
  .sample img:hover
  {
    height: 690px;
  }